.ourTeam {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourTeamHeader {
  align-self: center;
}

.ourTeamDescription {
  padding-top: 40px;
  max-width: 100ch;
  text-align: center;
  line-height: 2;
  font-family: var(--roboto);
}

.team {
  display: flex;
  padding-top: 80px;
}
