.donation {
  background-color: black;
  padding-top: 140px;
  overflow: hidden;
}

.donationHeader {
  font-family: var(--exo);
}

.donationDescription {
  line-height: 1.5;
  max-width: 100ch;
  font-family: var(--roboto);
  font-size: 12px;
}

.donationProcess {
  display: flex;
  padding: 0 40px;
  gap: 120px;
}

.donationTurningLine {
  transform: translateX(-750px);
}

.donationTurningLineReversed {
  transform: scale(-1, 1) translateX(-150px);
}

.donationAmount,
.donationPayment,
.donationOther {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.donationAmountOther {
  border: 1px solid white;
  width: 660px;
  padding: 20px 20px;
  font-family: var(--exo);
}

.invalid {
  border: 1px solid red;
}

.donationAmountButtons,
.donationOtherButtons,
.donationPaymentButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.donationOther {
  padding-left: 40px;
  padding-top: 80px;
}
