.link {
  width: 320px;
  height: 70px;
  border: 1px solid white;
  font-family: var(--exo);
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s, color 0.5s, transform 0.5s;
}

.link:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transform: translateY(-5px);
}
