.footer {
  background-color: #0a0a0a;
  margin-top: 120px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  font-family: var(--exo);
}

.footerFaq {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.footerFaqButtons {
  display: flex;
  gap: 20px;
}

.footerMenu {
  height: fit-content;
  display: flex;
  gap: 80px;
  align-items: center;
}

.footerMenuNav {
  position: relative;
  display: block;
}

.footerMenuItem {
  padding-top: 15px;
  font-size: 14px;
}

.footerMenuItem:hover {
  cursor: pointer;
  font-weight: bold;
}

.footerSocial {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.footerSocialName {
  padding-left: 20px;
  font-size: 14px;
}

.footerMenuNav::after {
  content: '';
  width: 1px;
  background-color: #fff;
  height: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
}
