.mars {
  background-color: #322217;
  overflow: hidden;
}

.marsHeroBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  filter: brightness(50%);
}

.marsHeroHeader {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 26%;
  text-indent: -10px;
}

.marsHeroDescription {
  position: absolute;
  top: 40%;
  transform: translateY(-30%);
  line-height: 1.5;
  left: 26.5%;
  text-indent: -3px;
}

.marsHero {
  width: 100vw;
  height: 100vh;
  color: white;
  white-space: pre-line;
}

.marsHeroHeader {
  font-family: var(--exo);
  font-weight: bold;
}

.marsHeroDescription {
  font-family: var(--roboto);
}

.marsRocket {
  margin-top: 120px;
  padding: 0 10vw;
  overflow: hidden;
}

.marsHeader {
  padding-top: 20px;
}

.marsLine {
  transform: translateX(-95%);
}

.marsDescription {
  padding: 40px 0;
  font-family: var(--roboto);
  text-align: justify;
  line-height: 1.5;
}

.marsFooter {
  background-color: #472f1f;
}

.rocketSVG {
  width: 100%;
}
