nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.MenuWrapper {
  display: flex;
  align-items: center;
}
