.mars {
  background-color: #322217;
  color: white;
  overflow: hidden;
}

.marsHeroBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  filter: brightness(50%);
}

.marsHeroHeader {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 26%;
  text-indent: -10px;
}

.marsHeroDescription {
  position: absolute;
  top: 40%;
  transform: translateY(-30%);
  line-height: 1.5;
  left: 26.5%;
  text-indent: -3px;
}

.marsHero {
  width: 100vw;
  height: 100vh;
  color: white;
  white-space: pre-line;
}

.marsHeroHeader {
  font-family: var(--exo);
  font-weight: bold;
}

.marsHeroDescription {
  font-family: var(--roboto);
}

.marsRocket {
  padding: 80px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.marsLine {
  transform: scale(-1, 1) translateX(-105%);
}

.marsHeader {
  align-self: flex-end;
  padding-top: 20px;
}

.marsDescription {
  padding: 40px 0;
  font-family: var(--roboto);
  line-height: 1.5;
}

.marsFooter {
  background-color: #472f1f;
}
