.who {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.whoText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--exo);
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  align-self: flex-start;
}

.whoDescription {
  font-family: var(--roboto);
  max-width: 100ch;
  padding-top: 20px;
  line-height: 2;
  text-align: justify;
  padding-bottom: 100px;
}

.aboutLogo {
  display: none;
}