.next {
  position: absolute;
  margin: 0 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: var(--exo);
  top: 50%;
  transform: translateY(-50%);
  line-height: 2;
  z-index: 1;
}

.next > svg {
  transition: transform 0.5s;
}

.next:hover > svg,
.next:focus > svg {
  transform: translateX(-5px);
}

.right {
  right: 0;
  flex-direction: row-reverse;
}

.right > svg {
  transform: rotate(180deg);
}

.right:hover > svg {
  transform: translateX(5px) rotate(180deg);
}
