.milestones {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.timelineBackground {
  position: absolute;
  min-width: max-content;
  height: 100vh;
  z-index: -1;
  user-select: none;
  left: -500px;
  transition: left 1s ease-in-out;
}

.timeline {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
  user-select: none;
  height: 100vh;
  width: 100%;
}
.timelineLine {
  min-width: max-content;
}

.timelineFirst {
  left: 280px;
}

.timelineSecond {
  left: 890px;
}

.timelineThird {
  left: 1490px;
}

.timelineFourth {
  left: 2090px;
}
