.mission {
  margin-top: 120px;
  padding: 0 10vw;
}

.missionImage {
  width: 100%;
}

.missionLine {
  transform: translateX(-95%);
}

.missionHeader {
  padding-top: 20px;
}

.missionDescription {
  font-family: var(--roboto);
  text-align: justify;
  padding: 40px 0;
  line-height: 1.5;
}
