.mission {
  color: white;
  margin-top: 80px;
  overflow: hidden;
  padding: 0 300px;
}

.missionLine {
  transform: translateX(-95%);
}

.missionHeader {
  padding-top: 20px;
}

.missionDescription {
  font-family: var(--roboto);
  padding: 40px 0;
  line-height: 1.5;
}
